#heroImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}

#hero .textSegment {
  margin-bottom: 2rem;
}

#hero .textSegment .text-seg-info {
  line-height: 1.3rem;
  font-size: 1rem;
}

#hero-image-section {
  margin-top: 1.5rem;
}

.calendar-box {
  margin-top: 1.5rem;
  width: 75%;
  z-index: 2;
}

#step1,
#step2,
#step3,
#step4 {
  min-height: 100vh;
  padding-top: 5rem;

  scroll-snap-align: center;
}

/*phones shorter than iphone*/
@media only screen and (max-width: 400px) {
  #hero {
    padding-top: 0rem;
  }

  #hero-image-section {
    margin-top: 0;
  }

  .calendar-box {
    margin-top: 0;
    position: relative;
  }

  .calendar-box svg {
    width: 70%;
    margin: 2rem auto;
    position: absolute;
    top: -1.8rem;
    transform: translateX(-50%);
  }

  #people {
    width: 50%;
  }
}

@media only screen and (min-width: 720px) {
  #hero {
    position: relative;
    height: 94.5vh;
    padding-top: 5.5vh;
  }

  /* #heroImg {
    max-width: 50%;
    height: 300px;
    align-self: center;
  } */

  #hero {
    min-height: 60vh;
    padding: 0;
  }

  #hero .textSegment {
    border: none;
    padding-top: 4rem;
  }

  #hero-image-section {
    width: 50%;
    margin-top: 1rem;
  }

  #hill-image {
    height: 50vh;
  }

  #people-image {
    position: absolute;
    width: 35%;
    transform: translateX(-55%);
  }

  .calendar-box {
    margin: 1rem auto;
    width: 50%;
    z-index: 2;
    transform: translateX(-15%);
  }

  #step1,
  #step2,
  #step3,
  #step4 {
    height: 94.5vh;
    padding-top: 5.5vh;
  }
}
