footer {
  position: absolute;
  background: var(--basic-black);
  bottom: 0;
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerBrand {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
}

#footerIcon {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.8rem;
  align-self: center;
}

#footerName {
  font-family: "Pacifico", cursive;
  color: var(--dark-orange);
  font-size: 1rem;
}

#footerLinksBox {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  background: var(--basic-black);
  width: 100%;
  padding: 0;
  margin: 1rem 0;
}

#footerLinksBox li a p {
  color: var(--dark-blue);
  font-family: "Arimo", sans-serif;
  font-size: 0.7rem;
}

#footerLinksBox li a p:hover {
  color: var(--primary-blue);
}

@media only screen and (min-width: 600px) {
  footer {
    height: 8rem;
  }

  #footerLinksBox {
    width: 60%;
  }

  #footerLinksBox li a p {
    font-size: 1rem;
    font-weight: bold;
  }
}

@media only screen and (min-width: 1200px) {
  footer {
    height: 5rem;
  }

  #footerLinksBox {
    width: 50%;
  }
}
