@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Pacifico&display=swap");

:root {
  --dark-orange: #ff6750;
  --primary-orange: rgb(255, 115, 88);
  --secondary-orange: rgb(255, 162, 98);
  --ternary-orange: #ffda88;

  --dark-blue: #1b9da7;
  --primary-blue: #42d8e4;
  --secondary-blue: #8ae3ff;
  --ternary-blue: #f0ffff;

  --basic-black: #222222;
  --soft-black: #bbbbbb;
}

* {
  font-family: "Arimo", sans-serif;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 0;
  color: var(--basic-black);
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

main {
  position: relative;
  min-height: 100vh;
  padding-bottom: 6rem;
  text-align: center;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 600px) {
  main {
    padding-bottom: 8rem;
  }
}

@media only screen and (min-width: 1200px) {
  main {
    padding-bottom: 5rem;
  }
}
