.landingDetails {
  min-height: 100vh;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* scroll-snap-align: center; */
}

.StepInfoBox {
  margin: 3rem auto;
  padding: 2rem;
}

.StepInfoBox h2 {
  margin-bottom: 1.5rem;
  font-family: "Pacifico", cursive;
  font-size: 1.6rem;
}

.StepInfoBox p {
  font-size: 1rem;
}

.svgStepBox svg {
  width: 80%;
}

/*Landing 2 animations*/
#bluebox1 {
  opacity: 0;
  animation: appear 2s forwards ease-in;
}

#bluebox2 {
  opacity: 0;
  /* animation: appear 2s infinite; */
  animation: appear 2s forwards ease-in 4s;
}

#Check1 {
  opacity: 0;
  animation: appear 2s forwards ease-in 2s;
  /* animation: appear 2s infinite; */
}

#Check2 {
  opacity: 0;
  animation: appear 2s forwards ease-in 6s;
  /* animation: appear 2s infinite; */
}

#arm {
  animation: armwave 1s infinite alternate linear;
  transform-origin: center;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes armwave {
  from {
    transform: rotateZ(30deg);
  }
  to {
    transform: rotateZ(-30deg);
  }
}
